Repository chris-hatton/kotlin-multiplatform-template: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-client, build-server, test-client, test-server

build-client:
  stage: build-client
  script:
  - cd Code/Client
  - ./gradlew --build-cache assemble
  cache:
    key: $CI_COMMIT_REF_NAME-Client
    policy: pull-push
    paths:
    - build
    - .gradle
  artifacts:
    paths:
    - $CI_JOB_NAME-$CI_COMMIT_REF_NAME
    - Code/Client/app/build/outputs/

build-server:
  stage: build-server
  script:
  - cd Code/Server
  - ./gradlew --build-cache build
  cache:
    key: $CI_COMMIT_REF_NAME-Server
    policy: pull-push
    paths:
    - build
    - .gradle

test-client:
  stage: test-client
  script:
  - cd Code/Client
  - ./gradlew --build-cache check
  cache:
    key: ${CI_COMMIT_REF_NAME}-Client
    policy: pull-push
    paths:
    - build
    - .gradle

test-server:
  stage: test-server
  script:
  - cd Code/Server
  - ./gradlew --build-cache check
  cache:
    key: ${CI_COMMIT_REF_NAME}-Server
    policy: pull-push
    paths:
    - build
    - .gradle

- Repair GitLab CI definition
  .gitlab-ci.yml
Due: none

- Multiplatform source code re-organisation
  Code/Client/Android/build.gradle.kts
  Code/Client/Android/gradle/wrapper/gradle-wrapper.properties
  Code/Client/Common/build.gradle.kts
  Code/Client/Common/src/commonMain/kotlin/example/Platform.kt
  Code/Client/Common/src/commonTest/kotlin/example/CommonPlatformTests.kt
  Code/Client/Common/src/iosMain/kotlin/example/Platform.kt
  Code/Client/Common/src/jvmMain/kotlin/example/Platform.kt
  Code/Client/Common/src/main/kotlin/example/Sample.kt
  Code/Client/Common/src/main/kotlin/example/TestClient.kt
  Code/Client/Desktop/build.gradle.kts
  Code/Client/Desktop/src/main/kotlin/example/TestClient.kt
  Code/Client/Desktop2/gradle/wrapper/gradle-wrapper.properties
  Code/Client/iOS/Example.xcodeproj/project.pbxproj
  Code/Client/iOS/Example.xcodeproj/project.xcworkspace/xcuserdata/Chris.xcuserdatad/UserInterfaceState.xcuserstate
  Code/Client/iOS/Example.xcodeproj/xcshareddata/xcschemes/Example.xcscheme
  Code/Client/iOS/Example/build.gradle.kts
  Code/Client/iOS/Example/src/iosMain/kotlin/example/AppDelegate.kt
  Code/Client/iOS/Example/src/iosMain/kotlin/example/ViewController.kt
  Code/Client/iOS/Example/src/iosMain/kotlin/main.kt
  Code/Client/iOS/Supporting Files/build.gradle.kts
  Code/Client/iOS/Supporting Files/gradle/wrapper/gradle-wrapper.properties
  Code/Client/iOS/Supporting Files/gradlew
  Code/Client/iOS/Supporting Files/settings.gradle.kts
  Code/Server/build.gradle.kts
  Code/Server/src/main/kotlin/example/Application.kt
  Code/Shared/src/commonMain/kotlin/example/model/Person.kt
  Code/Shared/src/commonMain/kotlin/example/model/UUID.kt
  Code/Shared/src/commonTest/kotlin/example/SharedCommonTests.kt
  Code/Shared/src/iosTest/kotlin/example/SharediOSTests.kt
Due: build-client, build-server, test-client, test-server

- Multiplatform source code re-organisation
  Code/Client/Common/src/test/kotlin/example/SampleTests.kt
  Code/Client/iOS/Example.xcodeproj/project.pbxproj
  Code/Client/iOS/Example.xcodeproj/project.xcworkspace/xcuserdata/Chris.xcuserdatad/UserInterfaceState.xcuserstate
  Code/Client/iOS/Example/build.gradle.kts
  Code/Client/iOS/Example/src/iosMain/kotlin/example/AppDelegate.kt
  Code/Client/iOS/Example/src/iosMain/kotlin/example/ViewController.kt
  Code/Client/iOS/Example/src/iosMain/kotlin/example/main.kt
  Code/Shared/src/commonTest/kotlin/example/SampleTests.kt
  Code/Shared/src/iosTest/kotlin/example/SampleTestsNative.kt
Due: build-client, test-client

- iOS dependencies
  Code/Client/Common/build.gradle.kts
  Code/Client/iOS/Example/build.gradle.kts
  Code/Client/iOS/Example/src/iosMain/kotlin/example/AppDelegate.kt
Due: build-client, test-client

- Good iOS & MVP progress!
  Code/Client/Common/build.gradle.kts
  Code/Client/Common/src/commonMain/kotlin/example/ui/FirstPresenter.kt
  Code/Client/Common/src/commonMain/kotlin/example/ui/contract/FirstPresenterContract.kt
  Code/Client/Common/src/commonMain/kotlin/example/ui/contract/FirstViewContract.kt
  Code/Client/iOS/Example.xcodeproj/project.pbxproj
  Code/Client/iOS/Example.xcodeproj/project.xcworkspace/xcuserdata/Chris.xcuserdatad/UserInterfaceState.xcuserstate
  Code/Client/iOS/Example/Base.lproj/Main.storyboard
  Code/Client/iOS/Example/Info.plist
  Code/Client/iOS/Example/build.gradle.kts
  Code/Client/iOS/Example/src/iosMain/kotlin/example/AppDelegate.kt
  Code/Client/iOS/Example/src/iosMain/kotlin/example/Coroutines.kt
  Code/Client/iOS/Example/src/iosMain/kotlin/example/FirstViewController.kt
  Code/Client/iOS/Example/src/iosMain/kotlin/example/ViewController.kt
  Code/Client/iOS/Example/src/iosMain/kotlin/main.kt
  Code/Client/iOS/Supporting Files/gradle.properties
  Code/Server/src/main/kotlin/example/Application.kt
  Code/Server/src/main/resources/application.conf
  Code/Shared/build.gradle.kts
  Code/Shared/src/commonMain/kotlin/example/model/Person.kt
  Code/Shared/src/commonMain/kotlin/example/ui/PresenterContract.kt
  Code/Shared/src/commonMain/kotlin/example/ui/ViewContract.kt
Due: build-client, build-server, test-client, test-server

- iOS 'First Contact', Person object serialized to & from!
  Code/Client/Common/src/commonMain/kotlin/example/ui/FirstPresenter.kt
  Code/Server/build.gradle.kts
  Code/Server/src/main/kotlin/example/Application.kt
  Code/Server/src/main/resources/logback.xml
  Code/Shared/src/commonMain/kotlin/example/model/Person.kt
Due: build-client, build-server, test-client, test-server

- iOS 'First Contact', Person object serialized to & from!
  Code/Client/Common/src/commonMain/kotlin/example/ui/FirstPresenter.kt
  Code/Client/iOS/.gradle/5.4.1/fileChanges/last-build.bin
  Code/Client/iOS/.gradle/5.4.1/fileHashes/fileHashes.lock
  Code/Client/iOS/.gradle/5.4.1/gc.properties
  Code/Server/build.gradle.kts
  Code/Server/src/main/kotlin/example/Application.kt
  Code/Server/src/main/resources/logback.xml
  Code/Shared/src/commonMain/kotlin/example/model/Person.kt
Due: build-client, build-server, test-client, test-server

- Fix namespaces - Fix CI config
  .gitlab-ci.yml
  Code/Client/Android/mobile/src/main/kotlin/example/MainActivity.kt
  Code/Client/Android/tv/src/main/AndroidManifest.xml
  Code/Client/Android/tv/src/main/res/layout/activity_details.xml
  Code/Client/Android/tv/src/main/res/layout/activity_main.xml
  Code/Client/Common/src/commonMain/kotlin/example/ui/contract/FirstPresenterContract.kt
  Code/Client/iOS/Example.xcodeproj/project.xcworkspace/xcuserdata/Chris.xcuserdatad/UserInterfaceState.xcuserstate
Due: build-client, test-client

- Remove unwanted example files from TV target - Register Kotlin src dirs with Android plugin for AS IDE to work properly - Fix unit tests
  Code/Client/Android/common/build.gradle.kts
  Code/Client/Android/common/src/main/kotlin/example/FirstFragment.kt
  Code/Client/Android/common/src/main/res/layout/fragment_first.xml
  Code/Client/Android/common/src/main/res/values/strings.xml
  Code/Client/Android/common/src/test/kotlin/example/ExampleUnitTest.kt
  Code/Client/Android/mobile/build.gradle.kts
  Code/Client/Android/tv/build.gradle.kts
  Code/Client/Android/tv/src/main/AndroidManifest.xml
  Code/Client/Android/tv/src/main/kotlin/example/BrowseErrorActivity.kt
  Code/Client/Android/tv/src/main/kotlin/example/CardPresenter.kt
  Code/Client/Android/tv/src/main/kotlin/example/DetailsActivity.kt
  Code/Client/Android/tv/src/main/kotlin/example/DetailsDescriptionPresenter.kt
  Code/Client/Android/tv/src/main/kotlin/example/ErrorFragment.kt
  Code/Client/Android/tv/src/main/kotlin/example/MainFragment.kt
  Code/Client/Android/tv/src/main/kotlin/example/Movie.kt
  Code/Client/Android/tv/src/main/kotlin/example/MovieList.kt
  Code/Client/Android/tv/src/main/kotlin/example/PlaybackActivity.kt
  Code/Client/Android/tv/src/main/kotlin/example/PlaybackVideoFragment.kt
  Code/Client/Android/tv/src/main/kotlin/example/VideoDetailsFragment.kt
Due: build-client, test-client

- Fixed client-android-common library importing.
  Code/Client/Android/build.gradle.kts
  Code/Client/Android/common/build.gradle.kts
  Code/Client/Android/common/src/main/kotlin/example/common/FirstFragment.kt
  Code/Client/Android/common/src/main/res/layout/fragment_first.xml
  Code/Client/Android/mobile/build.gradle.kts
  Code/Client/Android/mobile/src/main/kotlin/example/MainActivity.kt
  Code/Client/Android/mobile/src/main/res/layout/activity_main.xml
  Code/Client/Android/settings.gradle.kts
  Code/Client/Android/tv/build.gradle.kts
  Code/Client/Android/tv/src/main/res/layout/activity_details.xml
  Code/Client/Common/build.gradle.kts
Due: build-client, test-client

- Android progress.
  Code/Client/Android/common/src/main/kotlin/example/common/Example.kt
  Code/Client/Android/common/src/main/kotlin/example/common/FirstFragment.kt
  Code/Client/iOS/Example/src/iosMain/kotlin/example/Coroutines.kt
  Code/Shared/common.properties
Due: build-client, test-client

- Good K/MP progress.
  Code/Client/Android/common/build.gradle.kts
  Code/Client/Android/common/src/main/AndroidManifest.xml
  Code/Client/Android/common/src/main/kotlin/example/common/BaseFragment.kt
  Code/Client/Android/common/src/main/kotlin/example/common/Coroutines.kt
  Code/Client/Android/common/src/main/kotlin/example/common/Example.kt
  Code/Client/Android/common/src/main/kotlin/example/common/FirstFragment.kt
  Code/Client/Android/mobile/build.gradle.kts
  Code/Client/Android/mobile/src/main/AndroidManifest.xml
  Code/Client/Android/tv/build.gradle.kts
  Code/Client/Android/tv/src/main/AndroidManifest.xml
  Code/Client/Common/build.gradle.kts
  Code/Client/Common/src/commonMain/kotlin/example/Coroutines.kt
  Code/Client/Common/src/commonMain/kotlin/example/ExampleClient.kt
  Code/Client/Common/src/commonMain/kotlin/example/ui/FirstPresenter.kt
  Code/Client/Common/src/commonMain/kotlin/example/ui/contract/FirstPresenterContract.kt
  Code/Client/Common/src/iosMain/kotlin/example/Coroutines.kt
  Code/Client/Common/src/iosMain/kotlin/example/ExampleClient.kt
  Code/Client/Common/src/jvmMain/kotlin/example/Coroutines.kt
  Code/Client/Common/src/jvmMain/kotlin/example/ExampleClient.kt
  Code/Client/iOS/Example.xcodeproj/project.pbxproj
  Code/Client/iOS/Example/build.gradle.kts
  Code/Client/iOS/Example/src/iosMain/kotlin/example/AppDelegate.kt
  Code/Client/iOS/Example/src/iosMain/kotlin/example/BaseViewAdapter.kt
  Code/Client/iOS/Example/src/iosMain/kotlin/example/BaseViewController.kt
  Code/Client/iOS/Example/src/iosMain/kotlin/example/FirstViewController.kt
  Code/Server/common.gradle.kts
  Code/Server/common.properties
  Code/Shared/src/commonMain/kotlin/example/ui/PresenterContract.kt
Due: build-client, build-server, test-client, test-server

- K/MP progress
  .gitignore
  Code/Client/Common/src/commonMain/kotlin/example/ui/FirstPresenter.kt
  Code/Client/Common/src/iosMain/kotlin/example/Coroutines.kt
  Code/Client/Common/src/iosMain/kotlin/example/ExampleClient.kt
  Code/Client/Common/src/jvmMain/kotlin/example/ExampleClient.kt
  Code/Client/Common/src/jvmMain/kotlin/example/Platform.kt
  Code/Client/Desktop2/common.gradle.kts
  Code/Client/Desktop2/common.properties
  Code/Client/iOS/Example.xcodeproj/project.pbxproj
  Code/Client/iOS/Example/Base.lproj/Main.storyboard
  Code/Client/iOS/Example/src/iosMain/kotlin/example/FirstViewController.kt
  Code/Shared/common.gradle.kts
  Code/Shared/common.properties
  Code/common.gradle.kts
  Code/common.properties
Due: build-client, test-client

- iOS Running OK! :-D
  Code/Client/Common/src/commonMain/kotlin/example/ui/FirstPresenter.kt
  Code/Client/Desktop2/common.properties
  Code/Server/build.gradle.kts
  Code/Server/src/test/kotlin/example/ApplicationTest.kt
  Code/Shared/build.gradle.kts
  Code/common.properties
Due: build-client, build-server, test-client, test-server

- Introduced processScope for Coroutines - iOS & Android both running OK after defining separate baseUrl :-)
  Code/Client/Android/common/src/main/kotlin/example/common/FirstFragment.kt
  Code/Client/Android/mobile/build.gradle.kts
  Code/Client/Common/src/commonMain/kotlin/example/Coroutines.kt
  Code/Client/Common/src/commonMain/kotlin/example/ui/FirstPresenter.kt
  Code/Client/Common/src/iosMain/kotlin/example/Coroutines.kt
  Code/Client/Common/src/jvmMain/kotlin/example/Coroutines.kt
  Code/Client/iOS/Example.xcodeproj/project.pbxproj
  Code/Client/iOS/Example/src/iosMain/kotlin/example/AppDelegate.kt
  Code/Client/iOS/Example/src/iosMain/kotlin/example/FirstViewController.kt
Due: build-client, test-client

- Overhauled dependency resolution for multi-project ease
  .gitignore
  Code/Client/Android/build.gradle.kts
  Code/Client/Android/common/build.gradle.kts
  Code/Client/Android/gradle.properties
  Code/Client/Android/mobile/build.gradle.kts
  Code/Client/Android/tv/build.gradle.kts
  Code/Client/Common/build.gradle.kts
  Code/Client/Common/common.gradle.kts
  Code/Client/Common/common.properties
  Code/Client/Desktop/build.gradle.kts
  Code/Client/Desktop/gradle/wrapper/gradle-wrapper.jar
  Code/Client/Desktop/gradle/wrapper/gradle-wrapper.properties
  Code/Client/Desktop/gradlew
  Code/Client/Desktop/gradlew.bat
  Code/Client/Desktop/settings.gradle.kts
  Code/Client/Desktop/src/main/kotlin/example/SampleJavafx.kt
  Code/Client/Desktop/src/main/kotlin/example/Styles.kt
  Code/Client/Desktop/src/main/kotlin/example/TestClient.kt
  Code/Client/Desktop/src/main/kotlin/module-info.java
  Code/Client/Desktop/src/main/kotlin/org/chrishatton/example/ExampleApp.kt
  Code/Client/Desktop/src/main/kotlin/org/chrishatton/example/ExampleClient.kt
  Code/Client/Desktop/src/main/kotlin/org/chrishatton/example/MainView.kt
  Code/Client/Desktop/src/main/kotlin/org/chrishatton/example/Styles.kt
  Code/Client/Desktop2/.gitignore
  Code/Client/Desktop2/build.gradle
  Code/Client/Desktop2/common.gradle.kts
  Code/Client/Desktop2/common.properties
  Code/Client/Desktop2/gradle/wrapper/gradle-wrapper.jar
  Code/Client/Desktop2/gradle/wrapper/gradle-wrapper.properties
  Code/Client/Desktop2/src/main/kotlin/example/app/MyApp.kt
  Code/Client/Desktop2/src/main/kotlin/example/view/MainView.kt
  Code/Client/iOS/Supporting Files/build.gradle.kts
  Code/Server/build.gradle.kts
  Code/Shared/build.gradle.kts
  Code/common.gradle.kts
  Code/common.properties
Due: build-client, build-server, test-client, test-server

- Tidied up and commented the common.properties loading code
  Code/common.gradle.kts
Due: none

- Fix server dependency resolution
  Code/Client/Android/common/build.gradle.kts
  Code/Server/build.gradle.kts
  Code/common.gradle.kts
  Code/common.properties
Due: build-client, build-server, test-client, test-server

- Fix up JavaFX Desktop dependencies
  Code/Client/Android/mobile/build.gradle.kts
  Code/Client/Android/tv/build.gradle.kts
  Code/Client/Desktop/build.gradle.kts
  Code/Server/build.gradle.kts
  Code/common.gradle.kts
  Code/common.properties
Due: build-client, build-server, test-client, test-server

- Progress with JavaFX Desktop
  Code/Client/Common/build.gradle.kts
  Code/Client/Common/src/commonMain/kotlin/org/chrishatton/example/ui/FirstPresenter.kt
  Code/Client/Common/src/iosMain/kotlin/org/chrishatton/example/Coroutines.kt
  Code/Client/Desktop/build.gradle.kts
  Code/Client/Desktop/src/main/kotlin/module-info.java
  Code/Client/Desktop/src/main/kotlin/org/chrishatton/example/ExampleApp.kt
  Code/Client/Desktop/src/main/kotlin/org/chrishatton/example/ExampleClient.kt
  Code/Client/Desktop/src/main/kotlin/org/chrishatton/example/MainView.kt
  Code/Client/Desktop/src/main/kotlin/org/chrishatton/example/Styles.kt
  Code/Client/Desktop/src/test/kotlin/sample/SampleTestsJavafx.kt
  Code/common.gradle.kts
  Code/common.properties
Due: build-client, test-client

- Parking Java 11 efffort here after discovering Ktor limitation: https://github.com/ktorio/ktor/issues/1137
  Code/Client/Android/common/src/main/kotlin/org/chrishatton/example/common/FirstFragment.kt
  Code/Client/Desktop/build.gradle.kts
  Code/Client/Desktop/src/main/java/module-info.java
  Code/Client/Desktop/src/main/kotlin/module-info.java
Due: build-client, test-client

- JavaFX client launching in JDK 1.8 :-)
  Code/Client/Desktop/build.gradle.kts
  Code/Client/Desktop/src/main/java/module-info.java
Due: build-client, test-client

- JavaFX client working :-D
  Code/Client/Desktop/build.gradle.kts
  Code/Client/Desktop/src/main/kotlin/org/chrishatton/example/BaseView.kt
  Code/Client/Desktop/src/main/kotlin/org/chrishatton/example/ExampleApp.kt
  Code/Client/Desktop/src/main/kotlin/org/chrishatton/example/ExampleClient.kt
  Code/Client/Desktop/src/main/kotlin/org/chrishatton/example/FirstView.kt
  Code/Client/Desktop/src/main/kotlin/org/chrishatton/example/MainView.kt
  Code/Client/Desktop/src/main/resources/org/chrishatton/example/FirstView.fxml
  Code/common.properties
Due: build-client, test-client

Path conditions:
  build-client: any of: Code/Client/**/*
  build-server: any of: Code/Server/**/*
  test-client: any of: Code/Client/**/*
  test-server: any of: Code/Server/**/*
