Repository chris-hatton/kotlin-multiplatform-template: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-client, build-server, test-client, test-server

build-client:
  stage: build-client
  script:
  - cd Code/Client/Android
  - ./gradlew --build-cache assemble -x lint -x lintVitalRelease
  cache:
    key: $CI_COMMIT_REF_NAME-Client
    policy: pull-push
    paths:
    - build
    - .gradle
  artifacts:
    paths:
    - $CI_JOB_NAME-$CI_COMMIT_REF_NAME
    - Code/Client/app/build/outputs/

build-server:
  stage: build-server
  script:
  - cd Code/Server
  - ./gradlew --build-cache build -x lint -x lintVitalRelease
  cache:
    key: $CI_COMMIT_REF_NAME-Server
    policy: pull-push
    paths:
    - build
    - .gradle

test-client:
  stage: test-client
  script:
  - cd Code/Client/Android
  - ./gradlew --build-cache check -x lint -x lintVitalRelease
  cache:
    key: ${CI_COMMIT_REF_NAME}-Client
    policy: pull-push
    paths:
    - build
    - .gradle

test-server:
  stage: test-server
  script:
  - cd Code/Server
  - ./gradlew --build-cache check
  cache:
    key: ${CI_COMMIT_REF_NAME}-Server
    policy: pull-push
    paths:
    - build
    - .gradle

Tidied iOS Coroutines definition
  Code/Client/Android/gradle.properties
  Code/Client/Common/src/iosMain/kotlin/org/chrishatton/example/Coroutines.kt
  README.md
Due: build-client, test-client

Update README.md
  README.md
Due: none

- Add title block to build.gradle.kts files to more easily identify them - Added initial support for auto-selecting ARM64/X64 target for iOS, from the Xcode environment variable.
  Code/Client/Android/common/build.gradle.kts
  Code/Client/Android/mobile/build.gradle.kts
  Code/Client/Android/tv/build.gradle.kts
  Code/Client/Common/build.gradle.kts
  Code/Client/Desktop/build.gradle.kts
  Code/Client/Desktop/src/main/resources/org/chrishatton/example/FirstView.fxml
  Code/Client/iOS/Example.xcodeproj/project.pbxproj
  Code/Client/iOS/Example/build.gradle.kts
  Code/Server/build.gradle.kts
  Code/Server/src/main/kotlin/example/Application.kt
  Code/Shared/build.gradle.kts
  Code/common.gradle.kts
  Code/common.properties
Due: build-client, build-server, test-client, test-server

- Add Environment to GitLab CI config
  .gitlab-ci.yml
  Code/Client/Desktop/build.gradle.kts
Due: test-client

- JDK 11 Progress, but unsatisfactory.
  Code/Client/Common/build.gradle.kts
  Code/Client/Desktop/build.gradle.kts
  Code/Shared/build.gradle.kts
  Code/common.gradle.kts
  Code/common.properties
Due: test-client

ignore .idea files
  .gitignore
Due: none

remove workaround for plugin resolution
  Code/Client/Android/settings.gradle.kts
Due: build-client, test-client

- Reached peace on JavaFX/11: now working via application/run and build/runtime Gradle tasks, when platform jmods are present in <JDK_HOME>/jmods.
  Code/Client/Desktop/build.gradle.kts
Due: test-client

- Implement multi-platform runtime image generation
  Code/Client/Desktop/build.gradle.kts
Due: test-client

- Set CI to build runtime images for Desktop Client
  .gitlab-ci.yml
Due: none

- Fix Client Artifacts
  .gitlab-ci.yml
Due: none

- Config fix
  .gitlab-ci.yml
  Code/Client/Desktop/build.gradle.kts
Due: test-client

- Config fix
  .gitlab-ci.yml
Due: none

- Upgrade to Java8 Kotlin Runtime - Introduce JaCoCo test-coverage report to Server project
  Code/Client/Android/mobile/build.gradle.kts
  Code/Client/Android/tv/build.gradle.kts
  Code/Client/Desktop/build.gradle.kts
  Code/Server/build.gradle.kts
  Code/common.properties
Due: build-client, build-server, test-client, test-server

- Auto-select current OS for jpackage task
  Code/Client/Desktop/build.gradle.kts
  Code/common.gradle.kts
Due: test-client

- Begin Login
  Code/Client/Common/src/commonMain/kotlin/org/chrishatton/example/ui/LoginPresenter.kt
  Code/Client/Common/src/commonMain/kotlin/org/chrishatton/example/ui/contract/LoginContract.kt
  Code/Client/Desktop/build.gradle.kts
  Code/Client/Desktop/src/main/kotlin/org/chrishatton/example/LoginView.kt
  Code/Client/Desktop/src/main/resources/org/chrishatton/example/LoginView.fxml
  Code/Server/build.gradle.kts
  Code/Shared/src/commonMain/kotlin/org/chrishatton/example/model/Validated.kt
  Code/Shared/src/commonMain/kotlin/org/chrishatton/example/users/model/Session.kt
  Code/Shared/src/commonMain/kotlin/org/chrishatton/example/users/model/User.kt
  Code/Shared/src/commonMain/kotlin/org/chrishatton/example/users/process/SessionManager.kt
  Code/Shared/src/commonMain/kotlin/org/chrishatton/example/users/process/SessionStore.kt
  Code/common.properties
Due: build-server, test-client, test-server

- Improvements to MVP basis
  .gitignore
  Code/Client/Common/src/commonMain/kotlin/org/chrishatton/example/ui/BasePresenter.kt
  Code/Client/Common/src/commonMain/kotlin/org/chrishatton/example/ui/FirstPresenter.kt
  Code/Client/Common/src/commonMain/kotlin/org/chrishatton/example/ui/contract/FirstContract.kt
  Code/Client/Common/src/commonMain/kotlin/org/chrishatton/example/ui/contract/FirstPresenterContract.kt
  Code/Client/Common/src/commonMain/kotlin/org/chrishatton/example/ui/contract/FirstViewContract.kt
  Code/Client/Common/src/commonMain/kotlin/org/chrishatton/example/ui/contract/PresenterContract.kt
  Code/Client/Common/src/commonMain/kotlin/org/chrishatton/example/ui/contract/ViewContract.kt
  Code/Client/Desktop/gradle/wrapper/gradle-wrapper.properties
  Code/Client/Desktop/src/main/kotlin/org/chrishatton/coroutinesfx/Buttons.kt
  Code/Client/Desktop/src/main/kotlin/org/chrishatton/coroutinesfx/CheckBoxes.kt
  Code/Client/Desktop/src/main/kotlin/org/chrishatton/coroutinesfx/Properties.kt
  Code/Client/Desktop/src/main/kotlin/org/chrishatton/coroutinesfx/TextFields.kt
  Code/Client/Desktop/src/main/kotlin/org/chrishatton/example/BaseView.kt
  Code/Client/Desktop/src/main/kotlin/org/chrishatton/example/FirstView.kt
  Code/Shared/src/commonMain/kotlin/org/chrishatton/example/ui/PresenterContract.kt
  Code/Shared/src/commonMain/kotlin/org/chrishatton/example/ui/ViewContract.kt
  Code/common.gradle.kts
Due: test-client

- Tidy post-merge
  Code/Client/Common/src/commonMain/kotlin/org/chrishatton/example/ui/LoginPresenter.kt
  Code/Client/Common/src/commonMain/kotlin/org/chrishatton/example/ui/contract/Contract.kt
  Code/Client/Common/src/commonMain/kotlin/org/chrishatton/example/ui/contract/LoginContract.kt
  Code/Client/Common/src/commonMain/kotlin/org/chrishatton/example/ui/contract/PresenterContract.kt
Due: test-client

- Ignore a build folder
  .gitignore
Due: none

- Add ignores
  .gitignore
Due: none

- Improve build efficiency - Include iOS
  .gitignore
  .gitlab-ci.yml
  Code/Client/Android/android-client-shared/build.gradle.kts
  Code/Client/Android/common.settings.gradle.kts
  Code/Client/Android/mobile/build.gradle.kts
  Code/Client/Android/settings.gradle.kts
  Code/Client/Android/tv/build.gradle.kts
  Code/Client/Desktop/build.gradle.kts
  Code/Client/Desktop/common.settings.gradle.kts
  Code/Client/Desktop/settings.gradle.kts
  Code/Client/iOS/Supporting Files/build.gradle.kts
  Code/Client/iOS/Supporting Files/common.settings.gradle.kts
  Code/Client/iOS/Supporting Files/settings.gradle.kts
  Code/Lib/multi-mvp/build.gradle.kts
  Code/README.md
  Code/Server/build.gradle.kts
  Code/Server/common.settings.gradle.kts
  Code/Server/settings.gradle.kts
  Code/build.gradle.kts
  Code/common.gradle.kts
  Code/common.settings.gradle.kts
  Code/gradle.properties
  Code/gradle/wrapper/gradle-wrapper.jar
  Code/gradle/wrapper/gradle-wrapper.properties
  Code/gradlew
  Code/gradlew.bat
  Code/local.properties
  Code/settings.gradle.kts
Due: build-client, build-server, test-client, test-server

- Fix GitLab config
  .gitlab-ci.yml
Due: none

- Enabled publishing for both multi-mvp and coroutines-ui - Tested and working vs Bintray repo :-)
  .gitignore
  .gitlab-ci.yml
  Code/Client/build.gradle.kts
  Code/Lib/coroutines-ui/build.gradle.kts
  Code/Lib/coroutines-ui/settings.gradle.kts
  Code/Lib/multi-mvp/build.gradle.kts
  Code/Lib/multi-mvp/settings.gradle.kts
  Code/build.gradle.kts
  Code/gradle.properties
  Code/javafx.build.gradle.kts
  Code/local.properties
  Code/shared.gradle.kts
  Code/shared.properties
  Code/shared.settings.gradle.kts
Due: test-client

- Now support SNAPSHOT publishing to JFrog OSS, alongside Release publishing to Bintray
  Code/Lib/coroutines-ui/build.gradle.kts
  Code/Lib/multi-mvp/build.gradle.kts
Due: none

- Add rename script - Tag CI jobs
  .gitlab-ci.yml
  Code/renamePackage.kts
Due: none

- Remove reliance on Environment Variables - Add local.properties template
  .gitignore
  .gitlab-ci.yml
  Code/Client/Desktop/build.gradle.kts
  Code/Lib/javafx.build.gradle.kts
  Code/javafx.build.gradle.kts
  Code/local.properties.template
  Code/shared.gradle.kts
Due: test-client

Fix CoroutinesUI Android Manifest
  Code/Lib/coroutines-ui/src/androidMain/AndroidManifest.xml
Due: none

- MVP improvements - Dependency version updates
  Code/Client/Android/gradle/wrapper/gradle-wrapper.properties
  Code/Lib/multi-mvp/build.gradle.kts
  Code/Lib/multi-mvp/src/androidMain/kotlin/org/chrishatton/multimvp/ui/BaseViewActivity.kt
  Code/Lib/multi-mvp/src/androidMain/kotlin/org/chrishatton/multimvp/ui/BaseViewFragment.kt
  Code/Lib/multi-mvp/src/androidMain/kotlin/org/chrishatton/multimvp/ui/Views.kt
  Code/Lib/multi-mvp/src/commonMain/kotlin/org/chrishatton/multimvp/ui/BasePresenter.kt
  Code/Lib/multi-mvp/src/commonMain/kotlin/org/chrishatton/multimvp/ui/BaseView.kt
  Code/Lib/multi-mvp/src/commonMain/kotlin/org/chrishatton/multimvp/ui/Contract.kt
  Code/Lib/multi-mvp/src/commonMain/kotlin/org/chrishatton/multimvp/ui/Cycleable.kt
  Code/Lib/multi-mvp/src/commonMain/kotlin/org/chrishatton/multimvp/ui/Dispatch.kt
  Code/shared.properties
Due: build-client, test-client

Path conditions:
  build-client: any of: Code/Client/Android/**/*
  build-server: any of: Code/Server/**/*
  test-client: any of: Code/Client/**/*
  test-server: any of: Code/Server/**/*
