Repository chris-hatton/kotlin-multiplatform-template: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-client, build-server, test-client, test-server

.gitlab-ci.yml:

variables:
  GRADLE_OPTS: "-Dorg.gradle.daemon=false"

before_script:
  - export GRADLE_USER_HOME=`pwd`/.gradle

stages:
  - build-client
  - test-client
  - build-server
  - test-server
  - deploy-client
  - deploy-server
  - document-client
  - document-server

build-client:
  stage: build-client
  script:
    - cd Code/Client
    - ./gradlew --build-cache assemble
  cache:
    key: "$CI_COMMIT_REF_NAME-Client"
    policy: pull-push
    paths:
      - build
      - .gradle
  only:
    changes:
      - Code/Client/**/*
  artifacts:
    paths:
      - "$CI_JOB_NAME-$CI_COMMIT_REF_NAME"
      - Code/Client/app/build/outputs/

build-server:
  stage: build-server
  script:
    - cd Code/Server
    - ./gradlew --build-cache build
  cache:
    key: "$CI_COMMIT_REF_NAME-Server"
    policy: pull-push
    paths:
      - build
      - .gradle
  only:
    changes:
      - Code/Server/**/*

test-client:
  stage: test-client
  script:
    - cd Code/Client
    - ./gradlew --build-cache check
  cache:
    key: "${CI_COMMIT_REF_NAME}-Client"
    policy: pull-push
    paths:
      - build
      - .gradle
  only:
    changes:
      - Code/Client/**/*

test-server:
  stage: test-server
  script:
    - cd Code/Server 
    - ./gradlew --build-cache check
  cache:
    key: "${CI_COMMIT_REF_NAME}-Server"
    policy: pull-push
    paths:
      - build
      - .gradle
  only:
    changes:
      - Code/Server/**/*
# artifacts:
#   reports:
#     junit: rspec.xml

# deploy-client:
#   only:
#     - master
#   stage: deploy-client
#   script:
#     - cd Code/Server
#     - ./gradlew --build-cache war
#     - cp build/libs/Server-0.0.1.war /var/lib/jetty/webapps/root.war
#   cache:
#     key: "${CI_COMMIT_REF_NAME}-Server"
#     policy: pull
#     paths:
#       - build
#       - .gradle

deploy-server:
  only:
    - master
  stage: deploy-server
  script:
    - cd Code/Server
    - ./gradlew --build-cache war
    - cp build/libs/Server-0.0.1.war /var/lib/jetty/webapps/root.war
  cache:
    key: "${CI_COMMIT_REF_NAME}-Server"
    policy: pull
    paths:
      - build
      - .gradle

# document-client:
#   only:
#     - master
#   stage: document-client
#   script:
#     - cd Code/Client
#     - ./gradlew --build-cache dokka
#     - rm -rf /usr/share/nginx/html/bm/doc/client/*
#     - cp -R build/javadoc/client/* /usr/share/nginx/html/bm/doc/client
#     - cp build/javadoc/style.css /usr/share/nginx/html/bm/doc
#   cache:
#     key: "$CI_COMMIT_REF_NAME"
#     policy: pull
#     paths:
#       - build
#       - .gradle

document-server:
  only:
    - master
  stage: document-server
  script:
    - cd Code/Server
    - ./gradlew --build-cache dokka
    - rm -rf /usr/share/nginx/html/bm/doc/server/*
    - cp -R build/javadoc/server/* /usr/share/nginx/html/bm/doc/server
    - cp build/javadoc/style.css /usr/share/nginx/html/bm/doc
  cache:
    key: "${CI_COMMIT_REF_NAME}-Server"
    policy: pull
    paths:
      - build
      - .gradle

- JavaFX client working :-D
  Code/Client/Desktop/build.gradle.kts
  Code/Client/Desktop/src/main/kotlin/org/chrishatton/example/BaseView.kt
  Code/Client/Desktop/src/main/kotlin/org/chrishatton/example/ExampleApp.kt
  Code/Client/Desktop/src/main/kotlin/org/chrishatton/example/ExampleClient.kt
  Code/Client/Desktop/src/main/kotlin/org/chrishatton/example/FirstView.kt
  Code/Client/Desktop/src/main/kotlin/org/chrishatton/example/MainView.kt
  Code/Client/Desktop/src/main/resources/org/chrishatton/example/FirstView.fxml
  Code/common.properties
Due: build-client, test-client

- Aligned Android SDK & Build tools versions using common.properties
  Code/Client/Android/build.gradle.kts
  Code/Client/Android/common/build.gradle.kts
  Code/Client/Android/common/src/main/kotlin/org/chrishatton/example/common/FirstFragment.kt
  Code/Client/Android/gradle/wrapper/gradle-wrapper.properties
  Code/Client/Android/mobile/build.gradle.kts
  Code/Client/Android/tv/build.gradle.kts
  Code/Client/Desktop/src/main/kotlin/org/chrishatton/example/BaseView.kt
  Code/common.gradle.kts
  Code/common.properties
Due: build-client, test-client

- Disable lint :-( - Gradle tidy
  Code/Client/Android/build.gradle.kts
  Code/Client/Android/common/build.gradle.kts
  Code/Client/Android/common/src/androidTest/kotlin/org/chrishatton/example/common/ExampleInstrumentedTest.java
  Code/Client/Android/common/src/main/kotlin/org/chrishatton/example/common/BaseFragment.kt
  Code/Client/Android/common/src/main/kotlin/org/chrishatton/example/common/Coroutines.kt
  Code/Client/Android/common/src/main/kotlin/org/chrishatton/example/common/FirstFragment.kt
  Code/Client/Android/common/src/main/kotlin/org/chrishatton/example/common/package.kt
  Code/Client/Android/common/src/test/kotlin/org/chrishatton/example/common/ExampleUnitTest.kt
  Code/Client/Android/gradle.properties
  Code/Client/Android/mobile/build.gradle.kts
  Code/Client/Android/tv/build.gradle.kts
  Code/Client/Common/build.gradle.kts
  Code/Shared/build.gradle.kts
  Code/common.properties
Due: build-client, test-client

- Harder disable lint :-(
  .gitlab-ci.yml
  Code/Client/Android/common/build.gradle.kts
  Code/Client/Common/build.gradle.kts
  Code/Shared/build.gradle.kts
Due: build-client, test-client

- Update GitLab CI config
  .gitlab-ci.yml
Due: none

Add README.md
  README.md
Due: none

- Update GitLab CI config
  .gitlab-ci.yml
  README.md
Due: none

- Fix iOS Gradle
  Code/Client/Common/src/commonMain/kotlin/org/chrishatton/example/ui/FirstPresenter.kt
  Code/Client/iOS/Example.xcodeproj/project.pbxproj
  Code/Client/iOS/Example/build.gradle.kts
  Code/Client/iOS/Example/src/iosMain/kotlin/example/AppDelegate.kt
  Code/Client/iOS/Example/src/iosMain/kotlin/example/BaseViewAdapter.kt
  Code/Client/iOS/Example/src/iosMain/kotlin/example/FirstViewController.kt
  Code/Client/iOS/Example/src/iosMain/kotlin/main.kt
  Code/Client/iOS/Supporting Files/build.gradle.kts
  Code/Server/build.gradle.kts
  Code/Server/src/main/kotlin/example/Application.kt
  Code/Shared/src/commonMain/kotlin/org/chrishatton/example/ui/ViewContract.kt
Due: build-client, build-server, test-client, test-server

- Fix iOS! - Kotlin/Native 1.3.40 is broken! Must use 1.3.41+
  Code/Client/iOS/Example.xcodeproj/project.pbxproj
  Code/Client/iOS/Example/src/iosMain/kotlin/example/BaseViewAdapter.kt
  Code/Client/iOS/Example/src/iosMain/kotlin/example/FirstViewController.kt
  Code/common.properties
Due: build-client, test-client

- Update config
  .gitlab-ci.yml
  README.md
Due: none

- Update config
  .gitlab-ci.yml
Due: none

- Update GitLab config
  .gitlab-ci.yml
  Code/Shared/gradlew
  Code/Shared/gradlew.bat
  Code/Shared/settings.gradle.kts
Due: none

- Clean unwanted additions
  Code/Shared/gradlew
  Code/Shared/gradlew.bat
  Code/Shared/settings.gradle.kts
Due: none

Update README.md
  README.md
Due: none

Add LICENSE
  LICENSE.txt
Due: none

Tidied iOS Coroutines definition
  Code/Client/Android/gradle.properties
  Code/Client/Common/src/iosMain/kotlin/org/chrishatton/example/Coroutines.kt
  README.md
Due: build-client, test-client
